@import "tailwindcss";

:root {
	--background: #0a0a0a;
	--foreground: #ededed;
	--secondary: #9f9fa9;
	/* --border: #3d3d3d; */
	--border: #2e2e33;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-secondary: var(--secondary);
	--color-border: var(--border);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
		--secondary: #9f9fa9;
		/* --border: #3d3d3d; */
		--border: #2e2e33;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}

::view-transition-old(root),
::view-transition-new(root) {
	animation: none !important;
}

::view-transition-group(root) {
	z-index: auto !important;
}

::view-transition-image-pair(root) {
	isolation: isolate;
	will-change: transform, opacity, clip-path;
	z-index: 1;
}

::view-transition-new(root) {
	z-index: 10000;
	animation: none !important;
}

::view-transition-old(root) {
	z-index: 1;
	animation: none !important;
}

*::selection {
	background-color: #fff;
	color: #0a0a0a;
}
  
*::-moz-selection {
	background-color: #fff;
	color: #0a0a0a;
}
  
*::-o-selection {
	background-color: #fff;
	color: #0a0a0a;
}
  
*::-ms-selection {
	background-color: #fff;
	color: #0a0a0a;
}
  
*::-webkit-selection {
	background-color: #fff;
	color: #0a0a0a;
}

p .line {
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

h2 .char {
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

p .line span {
	position: relative;
	will-change: transform;
}

h2 .char span {
	position: relative;
	will-change: transform;
}